.container {
    position: relative;
    top: 70px;
}

.container.light {
    background-color: #d4d5d6 !important;
}

.container.dark {
    background-color: #1a1b1f !important;
}

.container.light h1, .container.light label {
    color: #1a1b1f;
}

.container.dark h1, .container.dark label {
    color: #ffffff;
}